{#
/**
 * Default theme implementation for Views to output a views charts.
 *
 * Available variables:
 * - options: View plugin style options:
 *   - classes: CSS classes.
 *
 * @see template_preprocess_views_view_views_chart()
 *
 * @ingroup themeable
 */
#}

<canvas{{ attributes }}></canvas>
